@page
@model LoginModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col s12 m5 offset-m4">

            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Email" type="email" class="validate" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Password" type="password" class="validate" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row padding-left-10px">
                    <p>
                        <label>
                            <input asp-for="Input.RememberMe" type="checkbox" class="filled-in" />
                            <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                        </label>
                    </p>
                </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

                <div class="row center" style="margin-top:15px;">
                    <a href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                </div>
            </form>

            <div class="row center" style="margin-top:25px;">
                <h6>Or login with</h6>
            </div>

            @if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div class="row center">
                    <p>No external login services configured.</p>
                </div>
            }
            else
            {
                <form id="external-account"
                      asp-page="./ExternalLogin"
                      asp-route-returnUrl="@ViewData["ReturnUrl"]"
                      method="post"
                      class="form-horizontal">

                    <div class="row center">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit"
                                    class="btn red darken-1 waves-effect waves-light"
                                    name="provider"
                                    value="@provider.Name"
                                    title="Log in using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            }

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}